A:ACTIVE {
	color:#003399;
	font-size:11px;
	font-family:Verdana;
}
A:HOVER {
	color:#003399;
	font-size:11px;
	font-family:Verdana;
}
A:LINK {
	color:#003399;
	font-size:11px;
	font-family:Verdana; }
A:VISITED {
	color:#003399;
	font-size:11px;
	font-family:Verdana;
}
body {
/* 	scrollbar-3dlight-color:#FFFFFF;
	scrollbar-arrow-color:#E3DCD5;
	scrollbar-base-color:#FFFFFF;
	scrollbar-darkshadow-color:#FFFFFF;
	scrollbar-face-color:#FFFFFF;
	scrollbar-highlight-color:#E3DCD5;
	scrollbar-shadow-color:#E3DCD5;  */
}
p {
	font-family: verdana;
	font-size: 12px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	color: #003399;
	text-decoration: none}
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	color: #003399;
	letter-spacing: normal;
	word-spacing: normal;
	font-variant: small-caps
}
td {
	font-family: verdana;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000000
}
.title {
	font-size:16px;
	font-weight:bold;
	color:#000080;
}
.SubTitle {
	font-size:16px;
	font-weight:bold;
	color:#000080;
}
A.menu {
	text-decoration:none;
	font-weight:bold;
}
A.mmenu {
	text-decoration:none;
	color:#FFFFFF;
	font-weight:bold;
}
.normal {
	font-family:Verdana,Arial;
	color:black
}
.style5 {
	color: #FFFFFF;
}
.ActivePage {
	color: red;
	font-weight:bold;
}
.FontText {
	font-size: small;
}
.FontHint {
	font-size: X-small;
	color: red;
}
.style1 {
	font-size: large;
	font-weight: bold;
	}
.FontContent {
	font-size: 11px;
	font-weight: bold;
        color: navy;
}

.FontJudul {
	font-size: 24px;
	font-weight: bold;
}

.FontComment {
	font-size: 18px;
	font-weight: bold;
}
.Hint{
	color: gray;
	font-size: 11px;
}
.style1 {
	color: #990000
}
.style4 {
	color: #FFFFFF;
	font-weight: bold;
}
.style6 {
	font-size: 10px;
}
P.PageBreak {
	page-break-before: always;
}
.highlightlistitem {
	font-size: 20px;
	font-color: red;
	border-color: grey;
	border-style: solid;
	font-weight: bold;
}

CAPTION#maintenancemode {
  
    position: relative;
    top: 0;
    left: 1px;
    right: 1px;
    margin: 0 auto;
display:block;
}
CAPTION#maintenancemode h1{height:40px;line-height:40px;margin:0;
  padding-left:10px;background: #990000;color: #FFF; font: arial,sans-serif;font-size: 20px}
  
/* tables */
/* SortTable */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	
	display:inline-block;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px 20px 4px 4px;
	text-align: left;
}
table.tablesorter thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #ffaa55;
}
  