/* Left top navigation */
#navigation-left{
	width: 800px;
	height: 40px;
	margin: 0;
	padding: 0;
	background: url(images/top-navigation-left.jpg) no-repeat left top;
} 
#navigation-left ul {
	list-style: none;
	margin: 0;
	padding: 0px  0px  0px 182px;
} 
#navigation-left ul li {
	display: inline;
	margin: 0px;
} 
#navigation-left ul li a {
	height:27px;
	display: block;
	float: left;
	padding: 13px 15px 0 15px;
	font: bold 12px Arial;
	color: #FFF;
	text-decoration: none;
	/*background: url(images/navigation-separator.png) no-repeat right center;*/
} 
#navigation-left ul li a:hover {
	color:#FFF;
	background: url(images/top-navigation-hover.png) repeat-x left top;
}
#navigation-left ul li#active a {
	color:#FFF;
	background: url(images/top-navigation-hover.png) repeat-x left top;
}
/* Right top navigation */
#navigation-right {
	width: 130px;
	height: 40px;
	margin: 0;
	padding: 0;
	background: url(images/top-navigation-right.jpg) no-repeat left top;
} 
#navigation-right ul {
	list-style: none;
	margin: 0;
	padding: 0;
} 
#navigation-right ul li {
	display: inline;
	margin: 0px;
} 
#navigation-right ul li a {
	height:27px;
	display: block;
	float: left;
	padding: 13px 15px 0 15px;
	font: bold 12px Arial;
	color: #FFF;
	text-decoration: none;
	/*background: url(images/navigation-separator.png) no-repeat right center;*/
} 
#navigation-right ul li a:hover {
	color:#FFF;
	background: url(images/top-navigation-hover.png) repeat-x left top;
}
#navigation-right ul li#active a {
	color:#FFF;
	background: url(images/top-navigation-hover.png) repeat-x left top;
}