USE [dev-eBilling]
GO
/****** Object:  View [dbo].[vwARPaymentRpt]    Script Date: 07/28/2014 12:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vwARPaymentRpt]
AS
SELECT     A.PaymentNo, C.Agency, C.LoginID, A.EmpID, C.EmpName, C.Office, A.MonthP, A.YearP, B.HomePhonePrsBillRp, B.OfficePhonePrsBillRp, 
                      C.MobilePhone, B.CellPhonePrsBillRp, B.TotalShuttleBillRp, ISNULL(B.HomePhonePrsBillRp, 0) + ISNULL(B.OfficePhonePrsBillRp, 0) 
                      + ISNULL(B.CellPhonePrsBillRp, 0) + ISNULL(B.TotalShuttleBillRp, 0) AS TotalBillingAmountPrsRp, A.ReceiptNo, A.Currency, 
                      CASE WHEN A.Currency = 'Kn' THEN ISNULL(A.PaidAmountRp, 0) WHEN A.Currency = 'Dlr' THEN ISNULL(A.PaidAmountDlr, 0) 
                      ELSE 0 END AS PaidAmount, CONVERT(varchar(20), A.PaidDate, 106) AS PaidDate, A.CashierRemark, A.PaymentType, 
                      CASE WHEN A.PaymentType = 'P' THEN 'Partial Payment' WHEN A.PaymentType = 'F' THEN 'Full Payment' ELSE '' END AS PaymentTypeName, 
                      ISNULL(DATEDIFF(dd, B.SendMailDate, A.PaidDate), 0) AS Aging, B.SendMailDate, C.AgencyFunding
FROM         dbo.PaymentReceipt AS A INNER JOIN
                      dbo.MonthlyBilling AS B ON A.EmpID = B.EmpID AND A.MonthP = B.MonthP AND A.YearP = B.YearP LEFT OUTER JOIN
                      dbo.vwPhoneCustomerList AS C ON A.EmpID = C.EmpID
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "A"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 114
               Right = 190
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "B"
            Begin Extent = 
               Top = 6
               Left = 228
               Bottom = 114
               Right = 423
            End
            DisplayFlags = 280
            TopColumn = 28
         End
         Begin Table = "C"
            Begin Extent = 
               Top = 114
               Left = 38
               Bottom = 222
               Right = 217
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 10455
         Alias = 2490
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwARPaymentRpt'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vwARPaymentRpt'
GO
