/****** Object:  View [dbo].[vwCellphoneHd]    Script Date: 08/01/2014 12:55:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create VIEW [dbo].[vwCellphoneHd]
AS
SELECT     ID AS CellphoneID, MonthP, YearP, PhoneNumber, ISNULL(CARFORBAL, 0) AS PreviousBalance
	, ISNULL(NETPAY, 0) AS Payment, ISNULL(TOTADJUST, 0) AS Adjustment, ISNULL(OPENBAL, 0) AS BalanceDue
	, ISNULL(DISMONTHFEE, 0) AS SubscriptionFee, ISNULL(Local, 0)+ISNULL(ORIG_VPNONCAL, 0) AS LocalCall	
	, ISNULL(SLJJ, 0) AS SLJJ, ISNULL(SLI, 0) AS SLI
	, ISNULL(SMS, 0)+ISNULL(MOBILE_DATA, 0)+ISNULL(SMS_BANKING, 0)+ISNULL(ORIG_VPNONSMS, 0)+ISNULL(SMSINTER, 0) AS SMS
	, ISNULL(ROAMGPRS, 0)+ISNULL(ROAMING_LEG, 0)+ISNULL(INTROAM, 0) As IRL, ISNULL(SIMP_TOP_UP, 0) AS Prepaid
	, ISNULL(FAR_MUL_NUMFEE, 0) AS FARIDA, ISNULL(VASMOBANK, 0) AS MobileBanking, ISNULL(ITEMBILFEE, 0) AS DetailedCallRecord
	, ISNULL(GPRS, 0)+ISNULL(WIFI, 0)+ISNULL(GPRSPRIABO, 0)+ISNULL(DIRPUSABO, 0)+ISNULL(FLASHABO, 0)+ ISNULL(FLASHSET, 0)+ISNULL(FLASHINST, 0)+ISNULL(APNSETUP, 0)+ISNULL(MMS, 0) AS GPRS
	, ISNULL(IPHONEABO, 0)+ISNULL(IPHONE_PENALTY, 0)+ISNULL(IPHONE_INST, 0)+ISNULL(VENTUSABO, 0)+ISNULL(BLBERRYABO, 0)+ ISNULL(BLBERRYINSTALL, 0)+ISNULL(BMOABON, 0)+ISNULL(TOTMODEMINSTL, 0) AS IPHONE
	, ISNULL(COMUSAGE, 0) AS MinUsage, (ISNULL(ORIG_VPNONCAL, 0)-ISNULL(DISC_VPNONCAL, 0))+ISNULL(LOCAL_DISC, 0)+ISNULL(SLJJ_DISC, 0)+ISNULL(SLI_DISC, 0)+ISNULL(INTROAM_DISC, 0) AS DiskonBicara
	, ISNULL(SMS_DISC, 0)+(ISNULL(ORIG_VPNONSMS, 0)-ISNULL(DISC_VPNONSMS, 0))+(ISNULL(SMSINTER, 0)-ISNULL(DISC_INSMS, 0)) AS DiskonSMS
	, ISNULL(GPRS_DISC, 0)+ISNULL(INROAMGPRS_DISC, 0) AS DiskonGPRS, ISNULL(MMS_DISC,0) As DiskonMMS
	, ISNULL(EMPLOY_DISC, 0)+ISNULL(USE_MONETARY, 0) AS DiskonPenggunaan, ISNULL(TOTNTAXCHAR, 0) AS SubTotalTKP
	, ISNULL(TOTTAXCHAR, 0) AS SubTotalKP, ISNULL(PPN, 0) AS PPN, ISNULL(DUTY_STAMP, 0) AS StampFee
	, ISNULL(TOTBILLAMOUNT, 0) AS CurrentBalance, ISNULL(TOTOUTAMOUNT, 0) AS Total
FROM CellPhoneHd
GO
